<launch>
    <node name="nuc" pkg="nuc" type="NUC" clear_params="true" output="screen">
                <rosparam command="load" file="$(find nuc)/launch/sim_param.yaml" />
	      <!--  <remap to="at_goal" from="/PelicanCtrl/at_goal" /> -->
          <!--  <remap from="fixedPose" to="/PelicanCtrl/fixedPose" /> -->
 
    </node>
</launch>

